.App {
  width: 100vw;
  height: 100vh;
  background: #1c1c1c;
  padding: 1rem;
  box-sizing: border-box;
}

.main {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 1rem;
  height: 100%;
}

.selectOption {
  background: #232323;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #333;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.selectOption:hover {
  border-color: #555;
}

.selectOption.active {
  border-color: #eee;
}

.selectOptionTitle {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
}
.selectOptionTitle > div:last-child {
  font-size: 0.9rem;
  font-weight: normal;
  color: #aaa;
}
.selectOptionChart {
  width: 100%;
  height: 100px;
  margin-top: 1rem;
}

.mainGrid {
  background: #232323;
  border-radius: 8px;
  border: 1px solid #333;
}
